<header>
    <!-- <nav >
      
      <ul class="abc">
        
        <li><a [routerLink]="['/']" class="navbar-brand abc"> <img src="https://cdn.theforage.com/vinternships/companyassets/m7GusTmDpDcGMcp28/a7QBYATxBtRiExiZ8/1625078690042/DEL_SEC_RGB_aw%20(White%20Logo)v2.png" height="24px" alt="Deloitte" > </a></li>
        <li><a routerLink="/home">Home</a></li>
        
        <li><a routerLink="/adduser">Add User</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/aboutus">About Us</a></li>
      </ul>
    </nav> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid mx-5 d-flex flex-row align-items-center">
            <a [routerLink]="['/']" class="navbar-brand">
                <img src="https://cdn.theforage.com/vinternships/companyassets/m7GusTmDpDcGMcp28/a7QBYATxBtRiExiZ8/1625078690042/DEL_SEC_RGB_aw%20(White%20Logo)v2.png"
                    height="28px" alt="Deloitte">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/adduser']" class="nav-link">Add User</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/aboutus']" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/contact']" class="nav-link">Contact</a>
                </ul>
             </div>
        </div>
    </nav> 
  </header>
  

   <!-- <header>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
                <a href="#" target="_blank">
                <div class="logo">
                    <img src="https://th.bing.com/th/id/OIP.2pNsKNkab3kbcuOMkZ4u-gHaBd?w=320&h=69&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Logo">
                </div>
                </a>
                <strong style="font-size:50px;">Deloitte.</strong>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-end">
                <div class="menu">
                    <ul>
                        <li><a [routerLink]="['/home']">Home</a></li> -->
                        <!-- <li><a [routerLink]="['/login']">Login</a></li>
                        <li><a [routerLink]="['/adduser']">Add User</a></li>
                        <li><a [routerLink]="['/contactus']">Contact Us</a></li>
                        <li><a [routerLink]="['/aboutus']">About Us</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header> -->