<div class="about-section">
  <h1>About Us</h1>
  <p>
    Discover the Power of .NET and Angular with Us - Unleashing Innovative
    Solutions for the Future
  </p>
</div>

<div class="container mt-3 mb-3">
  <div class="d-flex justify-content-center">
    <h2>Our Team</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h4 class="card-title">Jeevan Puhan</h4>
          <h6 class="card-subtitle mb-2 text-muted">Analyst</h6>
          <p class="card-text">
            Email: jpuhan@deloitte.com
          </p>
        </div>
        <div class="card-footer">
            <a href="https://github.com/jeevanpuhan" target="_blank" class="btn"><i class="fab fa-github"></i> Github</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h4 class="card-title">Aman Kumar</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyst</h6>
            <p class="card-text">
              Email: amankumar76@deloitte.com
            </p>
          </div>
          <div class="card-footer">
              <a href="https://github.com/laggerk24" target="_blank" class="btn"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h4 class="card-title">Sai Rakesh</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyst</h6>
            <p class="card-text">
              Email: ssairakesh@deloitte.com
            </p>
          </div>
          <div class="card-footer">
              <a href="https://github.com/sairakesh18" target="_blank" class="btn"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h4 class="card-title">Shourya Saini</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyst</h6>
            <p class="card-text">
              Email: shosaini@deloitte.com
            </p>
          </div>
          <div class="card-footer">
              <a href="https://github.com/jeevanpuhan" target="_blank" class="btn"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h4 class="card-title">Saikat Sarkar</h4>
            <h6 class="card-subtitle mb-2 text-muted">Analyst</h6>
            <p class="card-text">
              Email: saisarkar@deloitte.com
            </p>
          </div>
          <div class="card-footer">
              <a href="https://github.com/jeevanpuhan" target="_blank" class="btn"><i class="fab fa-github"></i> Github</a>
          </div>
        </div>
      </div>
  </div>
</div>
